<div class="section" id="about">
    <div class="container">
      <div class="text-center">
        <div class="h4 mx-auto title text-uppercase">A propos</div>
      </div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                            <p align="center">Passionné de programmation et d'informatique depuis mon adolescence, je me suis spécialisé dans le développement web.</p>
                            <p align="center">J'ai déjà réalisé plusieurs projets de sites internet avec Angular et VueJs ainsi que des applications Java, Python ou Kotlin.</p>
                            <p align="center">Je cherche à travailler comme développeur Front-End pour une startup ou une PME.</p>
                      <p align="center">N'hésitez pas à me contacter si mon profil vous intéresse. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Age</strong>
                            </div>
                            <div class="col-sm-8">{{ age }}</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email</strong>
                            </div>
                            <div class="col-sm-8">arnaud.nilens@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Télephone</strong>
                            </div>
                            <div class="col-sm-8">+32 479/25.34.42</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Location</strong>
                            </div>
                            <div class="col-sm-8">Louvain-La-Neuve</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Langues</strong>
                            </div>
                            <div class="col-sm-8">Français, Anglais, Néerlandais</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

