<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title text-uppercase">Compétences</div>
      <div class="card bg-default" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <a href="https://angular.io/" target="_blank">
              <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="h4">Angular</div>
                <img src="https://img.icons8.com/color/96/000000/angularjs.png" class="img-fluid" style="margin-bottom: 30px"/>
              </div>
              </a>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://vuejs.org/" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">VueJS</div>
                  <img src="https://img.icons8.com/color/96/000000/vue-js.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://kotlinlang.org/" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">Kotlin</div>
                  <img src="https://img.icons8.com/color/96/000000/kotlin.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <a href="https://getbootstrap.com/" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">Bootstrap</div>
                  <img src="https://img.icons8.com/color/96/000000/bootstrap.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">Javascript</div>
                  <img src="https://img.icons8.com/color/96/000000/javascript.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://developer.mozilla.org/fr/docs/Web/HTML" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">HTML5</div>
                  <img src="https://img.icons8.com/color/96/000000/html-5.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <a href="https://nodejs.org/en/" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">NodeJS</div>
                  <img src="https://img.icons8.com/color/96/000000/nodejs.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://www.python.org/" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">Python</div>
                  <img src="https://img.icons8.com/color/96/000000/python.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center">
              <a href="https://www.java.com/fr/about/whatis_java.jsp" target="_blank">
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <div class="h4">Java</div>
                  <img src="https://img.icons8.com/color/96/000000/java-coffee-cup-logo.png" class="img-fluid" style="margin-bottom: 30px"/>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
