<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="scroll" style="background-image: url('assets/images/introduction.jpg');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image rounded">
                    <a href="#contact" rel="tooltip" title="Contactez moi">
                        <img src="assets/images/profile.jpg" alt="Photo de profil" />
                    </a>
                </div>
                <div class="h2 title">Nilens Arnaud</div>
                <p class="category text-white">Développeur Front-End</p>
                <a class="btn btn-primary" href="https://drive.google.com/uc?export=download&id=1khZSrhxlpJK_0IVrc4zpKWZ_eIXiPOJP" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" rel="tooltip" title="Télécharger mon CV">
                  <div class="row d-flex justify-content-center" style="margin-bottom: 0.1rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="32" height="32"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;">
                      <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none">
                        </path>
                        <g fill="#ffffff">
                          <path d="M43,14.33333c-7.88333,0 -14.33333,6.45 -14.33333,14.33333v114.66667c0,7.88333 6.45,14.33333 14.33333,14.33333h58.21517l-4.19922,-4.19922l-10.13411,-10.13411h-43.88184v-114.66667h86v71.66667h14.33333v-71.66667c0,-7.91917 -6.41417,-14.33333 -14.33333,-14.33333zM78.83333,43c-7.91608,0 -14.33333,6.41725 -14.33333,14.33333c0,7.91608 6.41725,14.33333 14.33333,14.33333c7.91608,0 14.33333,-6.41725 14.33333,-14.33333c0,-7.91608 -6.41725,-14.33333 -14.33333,-14.33333zM78.83333,78.83333c-7.17383,0 -21.5,4.50067 -21.5,13.4375v8.0625h43v-8.0625c0,-8.93683 -14.32617,-13.4375 -21.5,-13.4375zM129,114.66667v28.66667h-21.84993l28.66667,28.66667l28.66667,-28.66667h-21.15007v-28.66667z">
                          </path>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="row  d-flex justify-content-center text-uppercase" style="margin-top: 0.1rem;">
                    Mon CV
                  </div>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/arnaud.nilens/" target="_blank" rel="tooltip" title="Ajoutez-moi sur Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/arnaud1398/" target="_blank" rel="tooltip" title="Suivez moi sur Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/arnaud-nilens/" target="_blank" rel="tooltip" title="Suivez moi sur Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Kotth" target="_blank" rel="tooltip" title="Mon Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
