<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Expériences</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge bg-primary">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Wire.Hack! 1st ROUND 2019-2020</div>
                                        <div class="h6 mt-0 title">Organisé par Barco et Wire Hack</div>
                                      <ul class="first-list">
                                        <li>
                                          <strong>Technologies utilisées</strong>
                                        </li>
                                        <ul class="second-list">
                                          <li>Angular</li>
                                          <li>Bootstrap</li>
                                          <li>NodeJS</li>
                                          <li>OpenStreetMap</li>
                                        </ul>
                                      </ul>
                                    </div>
                                    <div class="col-lg-6">
                                      <img class="img-fluid rounded" src="./assets/images/wirehack.jpg">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge bg-default">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Cyber Security Challenge 2020</div>
                                        <div class="h6 mt-0 title">Participation avec Guillaume Lemer</div>
                                      <ul class="first-list">
                                        <li>
                                          <strong>A remplir</strong>
                                        </li>
                                        <ul class="second-list">
                                          <li>A remplir</li>
                                        </ul>
                                      </ul>
                                    </div>
                                    <div class="col-lg-6">
                                      <img class="img-fluid rounded" src="./assets/images/csc.png">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
